html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lexend Exa', sans-serif;
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: 300;
    color: var(--bs-todo-1);
}

li a {
    color: var(--bs-todo-1);
}

main {
    flex: 1;
}

.task {
    max-width: 700px;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.vh-100 {
    min-height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100 !important;

}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.status-picto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 0;
    transform: translate(50%, 50%);
    right: 0;
    left: auto;
    bottom: auto;
}

.bg-gradient {
    background: linear-gradient(to bottom right, white 50%, #1f438a 90% )!important;
}

table {
    margin-top: 10px!important;
}

.task-title {
    color: #E25FF0!important;
    text-decoration: none!important;
}

.shadow-bottom {
    box-shadow: 0px 13px 15px -20px #111; 
}

#myTable_wrapper .row {
    max-width: 100%;
}

#myTable_wrapper .row div {
    padding-right: 10px;
    padding-left: 10px;
}

#myTable_wrapper .paginate_button:not(.next):not(.previous) a {
    background-color: #1f438a;
    border: #1f438a;
}

div.dt-row, div.row {
    margin: 0 10px;
}


/* Styles for mobile screens (portrait and landscape) */
@media screen and (max-width: 767px) {

    #myTable_wrapper .row div {
       width: 100%!important;
       text-align: center;
    }

    ul.pagination {
        display: flex;
        justify-content: center;
    }
   
}

/* Styles for tabs screens (portrait and landscape) */
@media screen and (min-width: 768px) and (max-width: 991px) {

}


/* Styles for landscape tablets and desktop screens */
@media screen and (min-width: 992px) {
   
}

/* Styles for large desktop screens */
@media screen and (min-width: 1200px) {

   
}

/* Styles for high resolution displays (e.g. Retina) */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   
}
