{% extends 'base.html.twig' %}

{% block head_title %}
Tasks list
{% endblock %}

{% block body %}
<main class="container d-flex flex-column">

    {{ include('task/_task-banner.html.twig') }}

    {% if tasks is empty %}
    <div class="container mt-3">
        <div class="alert alert-warning d-flex align-items-center mb-0" role="alert">
            There is no task recorded yet <a href="{{ path('task_create') }}" class="btn btn-warning ms-auto">Create a task</a>
        </div>
    </div>
    {% endif %}

    <div class="px-4 m-3 text-center border-bottom shadow-bottom">
        <h1 class="display-4 fw-bold">Tasks List</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Here is all tasks !</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{{ asset('img/todo-banner-2.png') }}" class="img-fluid rounded-3 mb-4" alt="Example image"
                    width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <section class="row mt-3 justify-content-center">
        {% for task in tasks %}
        {{ include('task/_task.html.twig', {task: task}) }}
        {% endfor %}
    </section>
</main>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $('.toggle').click(function(e) {
            var button = $(this);
            let taskId = button.data('task-id');
            let isDone = button.data('is-done');
            let card = $('.card');
            let toDoNumber = $('#tasks-to-do-number');
            let doneNumber = $('#tasks-done-number');

            e.preventDefault();


            $.ajax({
                url: '/tasks/' + taskId + '/toggle',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    if (isDone) {
                        $('.card[data-task-id="' + taskId + '"]').toggleClass('task-ok');
                        button.text("Mark as done");
                        $('.status-picto[data-task-id="' + taskId + '"]').html('<img src="img/todo-and-co-cross.svg" width="100%">');
                        let currentDoneNumber = parseInt(doneNumber.text());
                        let newDoneNumber = currentDoneNumber - 1;
                        doneNumber.text(newDoneNumber);

                        let currentToDoNumber = parseInt(toDoNumber.text());
                        let newToDoNumber = currentToDoNumber + 1;
                        toDoNumber.text(newToDoNumber);
                    } else {
                        $('.card[data-task-id="' + taskId + '"]').toggleClass('task-ok');
                        button.text("Mark as to do");
                        $('.status-picto[data-task-id="' + taskId + '"]').html('<img src="img/todo-and-co-logo-blue.svg" width="100%">');
                        let currentDoneNumber = parseInt(doneNumber.text());
                        let newDoneNumber = currentDoneNumber + 1;
                        doneNumber.text(newDoneNumber);

                        let currentToDoNumber = parseInt(toDoNumber.text());
                        let newToDoNumber = currentToDoNumber - 1;
                        toDoNumber.text(newToDoNumber);
                    }

                    button.data('is-done', !isDone);

                    alert(data.message);
        
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
{% endblock %}